[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"

[packages]
tensorflow = "==1.12.0"

[requires]
python_version = "3.6"
